# Entorno virtual
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter
.ipynb_checkpoints

# Bases de datos
*.db
*.sqlite
*.sqlite3

# Datos sensibles
.env
*.csv
*.xlsx
*.xls

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db